<footer>
    <div class="footer-list">
        <div class="footer-box footer-1">
            <h4>Get a new Tip each and every Week.</h4>
            <form class="footer-form">
                <input type="text" placeholder="Your email address" required>
                <button>Submit</button>
            </form>
        </div>
        <div class="footer-box footer-2">
            <ul>
                <li><a href="/"> Home </a></li>
                <li><a href="/login"> Join </a></li>
                <li><a href="#"> Privacy </a></li>
                <li><a href="#"> Warranty & Returns </a></li>
            </ul>
        </div>
        <div class="footer-box footer-3">
            <ul>
                <li><a href="/catagory/health"> health </a></li>
                <li><a href="/catagory/Business"> Business </a></li>
                <li><a href="/catagory/Money"> Money </a></li>
                <li><a href="/catagory/Lifestyle"> Lifestyle </a></li>
            </ul>
        </div>
        <div class="footer-box footer-4">
            <ul>
                <li> <h5>See the latest and Follow us</h5> </li>
                <li><a href="#"> facebook </a></li>
                <li><a href="#"> instergram </a></li>
                <li><a href="#"> twitter </a></li>
            </ul>
        </div>
    </div>
</footer>

<script src="/public/script.js"></script>
</body>
</html>